.frise {
    display: flex;
    align-items: normal;
}

.list_item {
    border-style: none none solid;
    border-color: var(--corps-de-texte-noir);
    z-index: -10;
}

.frise__imgFleche {
    z-index: -15;
}

.itm1, .itm2, .itm4, .itm5, .itm6, .itm11, .itm12, .itm13, 
.itm14, .itm15, .itm16, .itm17, .itm18, .itm19, .itm20 {
    border-color: var(--rose-violet-texte);
}

.itm1 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 258px;
}

.itm2{
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 335px;
}

.itm3 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 387px;
}

.itm4 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 438px;
}
.itm5 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 507px;
}
.itm6 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 571px;
}
.itm7 {
    position: absolute;
    width: 298px;
    height: 77px;
    left: 61px;
    top: 638px;

}
.itm8 {
    position: absolute;
    width: 298px;
    height: 52px;
    left: 61px;
    top: 748px;
}
.itm9 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 860px;
}
.itm10 {
    position: absolute;
    width: 298px;
    height: 52px;
    left: 61px;
    top: 926px;
}

.itm11 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 1013px;
}

.itm12 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 1102px;
}

.itm13 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 1190px;
}

.itm14 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 1239px;
}

.itm15 {
    position: absolute;
    width: 298px;
    height: 50px;
    left: 98px;
    top: 1277px;
}

.itm16 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 1365px;
}

.itm17 {
    position: absolute;
    width: 298px;
    height: 51px;
    left: 61px;
    top: 1451.02px;
}

.itm18 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 61px;
    top: 1544.78px;

}

.itm19 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 98px;
    top: 1595.83px;
}

.itm20 {
    position: absolute;
    width: 298px;
    height: 25px;
    left: 98px;
    top: 1622.86px;
}