.menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--rose-fonce-fond);
    color: var(--corps-de-texte-noir);
    font-size: var(--intertitre);
    letter-spacing: var(--letter-spacing);
    transition: all 1s ease;
    transform: translateX(100%);
}

.menu--open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
  
.menu__list {
    margin-top: 10%;
    margin-left: 15px;
}

.menu__item {
    margin-top: 55px;
}

.menu__link {
    color: var(--rose-violet-texte);
    text-decoration: none;
}

.menu__langue {
    position: relative;
    top: 770px;
    right: 20px;
}


/*Mise en forme du menu hamburger*/
.menu-btn {
    position: relative;
    z-index: 3;
    width: 30px; 
    background-color: var(--rose-fonce-fond);
    color: var(--corps-de-texte-noir);
    border: none;

  }

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: '';
    background: var(--corps-de-texte-noir);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 8;
    transition: all .8s ease;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

/*transformation btn en croix*/
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
}
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  top: 0;
  transform: rotate(90deg);
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: var(--rose-fonce-fond);
  color: var(--corps-de-texte-noir);
}